<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link type="text/css" href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
    <title>{{ title }}</title>
</head>
<body >
    <div class="container-fluid gradient min-vh-100">
        <nav class="navbar justify-content-center">
            <ul class="nav nav-underline">
                <li class="nav-item" >
                    <a class="nav-link" id="items"  href="/"><h5>Список товаров</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="categories"  href="/categories"><h5>Категории</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="brands"  href="/brands"><h5>Бренды</h5></a>
                </li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>